<odoo>
  <data>
    <!-- Add custom menu under POS Reporting -->
    <menuitem id="menu_pos_summary_report_root"
              name="POS Reports"
              parent="point_of_sale.menu_point_root"
              sequence="100"/>

    <menuitem id="menu_pos_summary_report"
              name="POS Daily Summary"
              parent="menu_pos_summary_report_root"
              action="action_report_pos_summary"
              sequence="10"/>
  </data>
</odoo>
