<odoo>
  <data>
    <menuitem id="menu_pos_summary_root"
              name="POS Reports"
              parent="point_of_sale.menu_point_root"
              sequence="100"/>

    <menuitem id="menu_pos_summary"
              name="Daily Sale Summary"
              parent="menu_pos_summary_root"
              action="action_pos_summary_wizard"
              sequence="10"/>
  </data>
</odoo>
